flake8==3.5.0
mccabe==0.6.1
pycodestyle==2.4.0
pyflakes==1.6.0

# Deps do pytest
py==1.5.3
more-itertools==4.1.0
six==1.11.0
attrs==19.1.0
pluggy==0.6.0
pytest==3.5.1


#Converage
coverage==4.5.1
pytest-cov==2.5.1

pytest-mock-1.10.0

-r requirements.txt