flake8==3.7.9
mccabe==0.6.1
pycodestyle==2.5.0
pyflakes==2.1.1

#dependencias do pytest
more-itertools==7.2.0
attrs==19.3.0
packaging==19.2
pluggy==0.13.1 py-1.8.0
pyparsing==2.4.5
pytest==5.3.0
wcwidth==0.1.7
six==1.13.0
py==1.8.0
-r requirements.txt